@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
}

.services {
  @apply border border-slate-300 rounded-lg flex justify-center items-center relative bg-slate-100 transition-all duration-300;
  height: 120px;
  width: 120px;
}

.services:hover {
  background-color: black;
  color: white;
}

.services span,
.services svg {
  @apply absolute inset-0 flex items-center justify-center;
  transition: opacity 0.3s ease;
}

.services span {
  @apply opacity-100;
}

.services svg {
  @apply opacity-0 text-3xl;
}

.services:hover span {
  @apply opacity-0;
}

.services:hover svg {
  @apply opacity-100;
}